---
import { SITE_TITLE, SITE_AUTHOR, FOOTER } from "../consts";

const currentYear = new Date().getFullYear();
const showYearRange = FOOTER.since && FOOTER.since !== currentYear;
---

<footer
  class="mx-auto flex max-w-3xl flex-wrap items-center px-8 py-4 text-sm opacity-60"
>
  <div class="mr-auto basis-full lg:basis-1/2">
    {showYearRange ? `© ${FOOTER.since} - ${currentYear}` : `© ${currentYear}`}
    <a class="hover:underline" href="/">{SITE_AUTHOR || SITE_TITLE}</a>
    {
      FOOTER.license && (
        <>
          {" | "}
          {FOOTER.licenseUrl ? (
            <a
              class="hover:underline"
              href={FOOTER.licenseUrl}
              rel="noopener"
              target="_blank"
            >
              {FOOTER.license}
            </a>
          ) : (
            FOOTER.license
          )}
        </>
      )
    }
  </div>
  <div class="flex basis-full lg:basis-1/2 lg:justify-end">
    <!-- <a -->
    <!--   class="mr-6 hover:underline lg:ml-6" -->
    <!--   href="https://astro.build/" -->
    <!--   rel="noopener" -->
    <!--   target="_blank" -->
    <!-- > -->
    <!--   Powered by Astro -->
    <!-- </a> -->
  </div>
</footer>
