---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import PostTaxonomies from "../components/PostTaxonomies.astro";
import PostNav from "../components/PostNav.astro";
import TableOfContents from "../components/TableOfContents.astro";

interface TocItem {
depth: number;
slug: string;
text: string;
children: TocItem[];
}

interface Props {
post: CollectionEntry<"blog">;
    headings: TocItem[];
    prevPost?: CollectionEntry<"blog">;
        nextPost?: CollectionEntry<"blog">;
            }

            const { post, headings, prevPost, nextPost } = Astro.props;
            const { title, description, pubDate, updatedDate, heroImage, tags } = post.data;
            ---

            <BaseLayout title={title} description={description} headings={headings} showSideToc={true}>
                <article>
                    <header class="mb-16">
                        <h1 class="my-0 pb-2.5">{title}</h1>
                        <div class="flex flex-wrap items-center gap-2 text-sm opacity-60">
                            <FormattedDate date={pubDate} />
                            {
                            updatedDate && (
                            <span class="italic">
                                (Updated:
                                <FormattedDate date={updatedDate} />)
                            </span>
                            )
                            }
                        </div>
                    </header>

                    {
                    heroImage && (
                    <figure class="mt-0 mb-12">
                        <Image class="h-auto w-full rounded-lg" width={1020} height={510} src={heroImage} alt="" />
                    </figure>
                    )
                    }

                    <!-- Mobile TOC -->
                    <TableOfContents headings={headings} />

                    <!-- Content -->
                    <section>
                        <slot />
                    </section>

                    <hr class="my-8" />

                    <!-- Tags -->
                    <PostTaxonomies tags={tags} />

                    <!-- Navigation -->
                    <PostNav prevPost={prevPost} nextPost={nextPost} />
                </article>
            </BaseLayout>
